### Base Packages
dataset
docker-pycreds
docker
Flask-Login
flask-restful
Flask-SSO
Flask
future
isodate
mock
networkx==1.11 # will take some work to get to v2.x
normality
PyJWT
pynetstring
python-dotenv
rdflib
ryu
testfixtures
uWSGI

### Dependancies (should now be managed by base packages)
# alembic==0.8.8 # from dataset
# aniso8601==3.0.2 # from flask-restful
# blinker==1.4 # from Flask-SSO
# click==6.7 # from Flask
# decorator==4.0.10 # from networkx
# itsdangerous==0.24 # from Flask
# Jinja2==2.10 # from Flask
# Mako==1.0.5 # from dataset
# MarkupSafe==0.23 # from Flask
# netaddr==0.7.18 # from ryu
# oslo.config==8.0.1 # from ryu
# python-dateutil==2.6.1 # from dataset
# python-editor==1.0.1 # from dataset
# PyYAML==5.1 # from ryu
# six==1.10.0 # from ryu
# SQLAlchemy==1.1.3 # from dataset
# tinyrpc==0.9.4 # from ryu
# Werkzeug==1.0.1 # from Flask
