    {% block body %}{% endblock %}
    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    &copy; 2016 <a target="_blank">AtlanticWave SDX</a>. All Rights Reserved.
                </div>
            </div>
        </div>
    </footer>
    <script type="text/javascript">
    var el = document.getElementById('delete-all');

    el.addEventListener('submit', function(){
    return confirm('Are you sure you want to delete all rules?');
    }, false);
    </script>
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/jquery.isotope.min.js"></script>
    <script src="/static/js/jquery.prettyPhoto.js"></script>
    <script src="/static/js/main.js"></script>
    <!--<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">-->
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

</body>

</html>
