<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="AtlanticWave SDX Web Application">
    <meta name="author" content="Ankita Lamba">
    <title>Atlantic Wave SDX</title>
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/font-awesome.min.css" rel="stylesheet">
    <link href="static/css/prettyPhoto.css" rel="stylesheet">
    <link href="static/css/main.css" rel="stylesheet">
</head>

<style>
.tabcontent {display:none;}
</style>

<body data-spy="scroll" data-target="#navbar" data-offset="0">
    <header id="header" role="banner">
        <div class="container">
            <div id="navbar" class="navbar navbar-default">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/"></a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#main-slider"><i class="icon-home"></i></a></li>
                        <li><a href="#topology">Topology</a></li>
                        <li><a href="#requests">Requests</a></li>
                        <li><a href="#about-us">About Us</a></li>
                        <li><a href="#login">{{ current_user.id }}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>

    <section id="main-slider" class="carousel">
        <div class="carousel-inner">
            <div class="item active">
                <div class="container">
                    <div class="carousel-content">
                        <h1>AtlanticWave SDX</h1>
                        <p class="lead">The AtlanticWave/SDX is a distributed research and education network Internet exchange point (IXP)<br><br><br>
                        </p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="container">
                    <div class="carousel-content">
                        <h1>Use cases for this IXP</h1>
                        <p class="lead">Distribution of terabytes of data from new American telescopes located in the Atacama Desert of Chile back to the US. This traffic is bursty in nature, only during certain hours, and will require near-full utilization of the anticipated links between Atlanta, Miami, São Paulo and Chile</p>
                    </div>
                </div>
            </div>
        </div>
        <a class="prev" href="#main-slider" data-slide="prev"><i class="icon-angle-left"></i></a>
        <a class="next" href="#main-slider" data-slide="next"><i class="icon-angle-right"></i></a>
    </section>


    <section id="topology">
        <div class="container">
            <div class="box">
                <div class="center gap">
                    <h2>Topology</h2>
                    <p class="lead">This is the current network topology</p>
                </div>
                <ul class="portfolio-items col-2">
                    <li class="portfolio-item apps">
                        <div class="item-inner">
                            <div class="portfolio-image">
                                <img src="static/images/topo/thumb/item1.jpg" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-danger" title="Network Topology 2016" href="static/images/topo/full/item1.jpg"><i class="icon-eye-open"></i></a>             
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="portfolio-item joomla bootstrap">
                        <div class="item-inner">
                            <div class="portfolio-image">
                                <img src="static/images/topo/thumb/item2.jpg" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-danger" title="Network Topology 2017" href="static/images/topo/full/item2.jpg"><i class="icon-eye-open"></i></a>  
                                </div>
                            </div> 

                        </div>
                    </li>
                </ul>   
                <div class="center gap">
                    <h2>Interactive Topology</h2>
                    <p class="lead">Here is an interactive view of the Network Topology</p>
                </div>
                <div class="container">
                    <svg width="960" height="600"></svg>
                </div>
            </div>
        </div>
    </section>

    <section id="requests">
        <div class="container">
            <div class="box">
                <div class="center gap">
                    <h2>Request a Pipe</h2>
                    <p class="lead">Users can request for a pipe based on their requirements and role</p>
                </div>
                <div id="pricing-table" class="row">
                    <div class="portfolio-filter">
                        <li><a class="tablinks" href="#" onclick="role(event, 'NetworkEngr')">Network Engineers</a></li>
                        <li><a class="tablinks" href="#" onclick="role(event, 'Scientist')">Scientists</a></li>
                    </div>

                    <form action="rule" method="POST" id="NetworkEngr" class="tabcontent">
                      <div class="col-sm-4">
                        <p>Enter the start date: <input type="text" class="form-control" required="required" id="startdate" name="startdate"> </p> 
                        <p>Enter the start time: <input type="time" class="form-control" required="required" id="starttime" name="starttime"> </p> 
                        <p>Enter the end date: <input type="text" class="form-control" required="required" id="enddate" name="enddate"> </p> 
                        <p>Enter the end time: <input type="time" class="form-control" required="required" id="endtime" name="endtime"> </p>           
                      </div>
                      <div class="col-sm-4">
                        <p>Enter the desired bandwidth:
                            <input type="number" class="form-control" required="required" id="bw" name="bw" placeholder="Bandwidth in GB" min="1" max="100"> </p>
                            <p>Enter the physical port number at source:
                            <input type="number" class="form-control" required="required" id="sp" name="sp" placeholder=" Source Port#" min="0" max="65535"> </p>
                            <p>Enter the physical port number at destination:
                            <input type="number" class="form-control" required="required" id="dp" name="dp" placeholder="Destination Port#" min="0" max="65535"> </p>
                      </div>

                      <div class="col-sm-4">
                        <p>Enter the source VLAN:
                            <input type="number" class="form-control" required="required" id="sv" name="sv" placeholder="Source VLAN" min="0" max="4090"> </p>
                            <p>Enter the destination VLAN:
                            <input type="number" class="form-control" required="required" id="dv" name="dv" placeholder="Destination VLAN" min="0" max="4090"> </p>
                      </div>
                      <div class="col-sm-4">
                        <p>Select source: 
                        <select class="form-control" required="required" id="source" name="source">{% for item in switches %}
                            {{ item }}{% endfor %}
                        </select> </p>
                        <p>Select destination: 
                            <select class="form-control" id="dest" name="dest" required="required">{% for item in switches %}
                                {{ item }}{% endfor %}
                            </select> </p>
                      </div>
                      
                      <div class="row" align="center">
                          <button type="test" class="btn btn-danger btn-lg" align="middle">Preview</button>
                          <button type="submit" class="btn btn-danger btn-lg" align="middle">Submit</button>
                      </div>
                    </form>

                    <form action="rule" method="POST" id="Scientist" class="tabcontent">
                      <div class="col-sm-4"></div>
                      <div class="col-sm-4">
                        <p>Source:  
                            <select class="form-control" required="required" id="source" name="source">{% for item in dtns %}
                                {{ item }}{% endfor %}
                            </select>
                        </p>
                        <p>Destination:  
                            <select class="form-control" required="required" id="dest" name="dest">{% for item in dtns %}
                                {{ item }}{% endfor %}
                            </select>
                        </p>
                        <p>Deadline:
                            <input type="datetime-local" class="form-control" id="deadline" name="deadline" required="required">
                        </p>
                        <p>Size:
                            <input type="number" class="form-control" required="required" id="size" name="size" size=8>
                            <select class="form-control" required="required" id="unit" name="unit">
                                <option value="1">bytes</option> 
                                <option value="1000">Kb</option>
                                <option value="1000000">Mb</option>
                                <option value="1000000000">Gb</option>
                                <option value="1000000000000">Tb</option>
                            </select>
                        </p>
                      </div>
                      <div class="col-sm-4"><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br></div>
                      <div class="row" align="center">
                        <br><br><br><button type="test" class="btn btn-danger btn-lg" align="middle">Preview</button>
                        <button type="submit" class="btn btn-danger btn-lg" align="middle">Submit</button>
                      </div>
                    </form>                    
                </div> 

                <div class="row" align="center">
                    <form action="/rule/all/">
                       <br><input type="submit" class="btn btn-danger btn-lg" value="View all rules"/>
                    </form>
                </div>
           </div>
       </div>
   </section>

           <section id="about-us">
            <div class="container">
                <div class="box">
                    <div class="center">
                        <h2>Meet the Team</h2>
                        <p class="lead">These are the main contributors to the AtlanticWave SDX project</p>
                    </div>
                    <div class="gap"></div>
                    <div id="team-scroller" class="carousel scale">
                        <div class="carousel-inner">
                            <div class="item active"> 
                                <div class="member" style="float:left">
                                    <div style="width:200px;height:200px;overflow:hidden">
                                        <p><img class="img-responsive img-thumbnail img-circle" src="static/images/team1.jpg" alt="" ></p>
                                    </div>
                                    <h3>Sean Donovan<small class="designation">Software Engineer</small></h3>
                                </div>
                                <div class="member" style="float:right">
                                    <div style="width:200px;height:200px;overflow:hidden">
                                        <p><img class="img-responsive img-thumbnail img-circle" src="static/images/team2.jpg" alt="" ></p>
                                    </div>
                                    <h3>Jerônimo Bezerra<small class="designation">Software Engineer</small></h3>
                                </div>
                            </div>
                            <div class="item" style="margin:0 auto;">
                                <div class="member" style="float:left">
                                    <div style="width:200px;height:200px;overflow:hidden">
                                        <p><img class="img-responsive img-thumbnail img-circle" src="static/images/team4.jpg" alt="" ></p>
                                    </div>
                                    <h3>Ankita Lamba<small class="designation">Graduate Security Researcher</small></h3>
                                </div>
                                <div class="member" style="float:right">
                                    <div style="width:200px;height:200px;overflow:hidden">
                                        <p><img class="img-responsive img-thumbnail img-circle" src="static/images/team5.jpg" alt="" ></p>
                                    </div>
                                    <h3>John Skandalakis<small class="designation">Graduate Student</small></h3>
                                </div>
                            </div>
                            <div class="item">
                                <div class="member" style="float:center">
                                    <div style="width:200px;height:200px;overflow:hidden;float:center">
                                        <p style="float:center"><img style="float:center" class="img-thumbnail img-circle" src="static/images/team3.jpg" alt="" ></p>
                                    </div>
                                    <h3>Russell Clark<small class="designation">Co-director, GT-RNOC</small></h3>
                                </div>
                            </div>
                        </div>
                        <a class="left-arrow" href="#team-scroller" data-slide="prev">
                            <i class="icon-angle-left icon-4x"></i>
                        </a>
                        <a class="right-arrow" href="#team-scroller" data-slide="next">
                            <i class="icon-angle-right icon-4x"></i>
                        </a>
                    </div>
                </div>
            </div>
        </section>

        <section id="login">
            <div class="container">
                <div class="box last">
                    <div class="row">
                        <div class="col-sm-6">
                            <h1>User Information</h1>
                            <p>Hello, {{ current_user.id }}!</p>
                            <form action="logout" method="GET">
                                <button type="submit" class="btn btn-danger btn-lg" align="middle">Log Out</button>
                            </form>
                        </div>
                        <div class="col-sm-6">
                            <h1>Contact us</h1>
                            <div class="row">
                                <div class="col-md-6">
                                    <address>
                                        <strong>Georgia Institute of Technology</strong><br>
                                        Atlanta, GA 30332<br>
                                    </address>
                                </div>
                                <div class="col-md-6">
                                    <address>
                                        <strong>Florida International University</strong><br>
                                        Miami, FL 33199<br>
                                    </address>
                                </div>
                            </div>
                            <h1>Connect with us</h1>
                            <div class="row">
                                <div class="col-md-6">
                                    <ul class="social">
                                        <li><a href="#"><i class="icon-facebook icon-social"></i> Facebook</a></li>
                                        <li><a href="#"><i class="icon-google-plus icon-social"></i> Google Plus</a></li>
                                    </ul>
                                </div>
                                <div class="col-md-6">
                                    <ul class="social">
                                        <li><a href="#"><i class="icon-linkedin icon-social"></i> Linkedin</a></li>
                                        <li><a href="#"><i class="icon-twitter icon-social"></i> Twitter</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <footer id="footer">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        &copy; 2016 <a target="_blank">AtlanticWave SDX</a>. All Rights Reserved.
                    </div>
                </div>
            </div>
        </footer>

        <script src="static/js/jquery.js"></script>
        <script src="static/js/bootstrap.min.js"></script>
        <script src="static/js/jquery.isotope.min.js"></script>
        <script src="static/js/jquery.prettyPhoto.js"></script>
        <script src="static/js/main.js"></script>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script> function role(evt, roleName) {
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className.replace(" active", "");
            }
            document.getElementById(roleName).style.display = "block";
            evt.currentTarget.className += " active";
        }
        </script>
        <script type="text/javascript">
        $(function () {
            $("#startdate").datepicker({
                numberOfMonths: 1,
                changeMonth: true,
                changeYear: true,
                yearRange: 'dateToday:+5',
                minDate: 0,
                onSelect: function (selected) {
                    var dt = new Date(selected);
                    dt.setDate(dt.getDate() + 1);
                    $("#enddate").datepicker("option", "minDate", dt);
                }
            });
            $("#enddate").datepicker({
                numberOfMonths: 1,
                changeMonth: true,
                changeYear: true,
                yearRange: 'dateToday:+5',
                onSelect: function (selected) {
                    var dt = new Date(selected);
                    dt.setDate(dt.getDate() - 1);
                    $("#startdate").datepicker("option", "maxDate", dt);
                }
            });
        });
        </script>
        <script src="https://d3js.org/d3.v4.min.js"></script>
        <script>
        var svg = d3.select("svg"),
            width = +svg.attr("width"),
            height = +svg.attr("height");

        var color = d3.scaleOrdinal(d3.schemeCategory20);

        var simulation = d3.forceSimulation()
            .force("link", d3.forceLink().id(function(d) { return d.id; }))
            .force("charge", d3.forceManyBody())
            .force("center", d3.forceCenter(width / 2, height / 2));

        d3.json("topology_node.json", function(error, graph) {
          if (error) throw error;

          var link = svg.append("g")
              .attr("class", "links")
            .selectAll("line")
            .data(graph.links)
            .enter().append("line")
              .attr("stroke-width", function(d) { return Math.sqrt(d.value); });

          var node = svg.append("g")
              .attr("class", "nodes")
            .selectAll("circle")
            .data(graph.nodes)
            .enter().append("circle")
              .attr("r", 5)
              .attr("fill", function(d) { return color(d.group); })
              .call(d3.drag()
                  .on("start", dragstarted)
                  .on("drag", dragged)
                  .on("end", dragended));

          node.append("title")
              .text(function(d) { return d.id; });

          simulation
              .nodes(graph.nodes)
              .on("tick", ticked);

          simulation.force("link")
              .links(graph.links);

          function ticked() {
            link
                .attr("x1", function(d) { return d.source.x; })
                .attr("y1", function(d) { return d.source.y; })
                .attr("x2", function(d) { return d.target.x; })
                .attr("y2", function(d) { return d.target.y; });

            node
                .attr("cx", function(d) { return d.x; })
                .attr("cy", function(d) { return d.y; });
          }
        });

        function dragstarted(d) {
          if (!d3.event.active) simulation.alphaTarget(0.3).restart();
          d.fx = d.x;
          d.fy = d.y;
        }

        function dragged(d) {
          d.fx = d3.event.x;
          d.fy = d3.event.y;
        }

        function dragended(d) {
          if (!d3.event.active) simulation.alphaTarget(0);
          d.fx = null;
          d.fy = null;
        }

        </script> 
    </body>
</html>
