<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="AtlanticWave SDX Web Application">
<meta name="author" content="Ankita Lamba">
<title>Atlantic Wave SDX</title>
</head>

<style>
.tabcontent {display:none;}
</style>


<body data-spy="scroll" data-target="#navbar" data-offset="0">
  <table cellspacing='0'> <!-- cellspacing='0' is important, must stay -->
    <!-- Table Header -->
    <br>
    <center><h1 style="color:white;">Local Controllers</h1></center>
    {% for lc,lcdetails in lcdict.items() %}
    <thead>
      <tr>
        <th colspan="{{ lcdetails['links']|length }}"><a href={{ lcdetails['href'] }}> {{ lc }}</a></th>
      </tr>
    </thead>

    <!-- Table Body -->
    <tbody>
      <tr>
        {% for swname,details in lcdetails['links'].items() %}
        <td><a href={{ details['href'] }}> {{ swname }}</a></th> 
        {% endfor %}
      </tr>
    </tbody>
    {% endfor %}
    <!-- Table Body -->
  </table>
</body>
