<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="AtlanticWave SDX Web Application">
<meta name="author" content="Ankita Lamba">
<title>Atlantic Wave SDX</title>
</head>

<style>
.tabcontent {display:none;}
</style>


<body data-spy="scroll" data-target="#navbar" data-offset="0">
  <table cellspacing='0'> <!-- cellspacing='0' is important, must stay -->
    <!-- Table Header -->
    <br>
    <center><h1 style="color:white;">Policies by Type</h1></center>
    <thead>
      <tr>
        <th>Policy Type</th>
        <th>Example</th>
      </tr>
    </thead>

    <!-- Table Body -->
    <tbody>
      {% for policyname,policydetails in policydict.iteritems() %}
      {% if policyname != 'href' %}
      <tr>
        <td><a href={{ policydetails['href'] }}>{{ policyname }}</a></td>
        <td><a href={{ policydetails['example'] }}>Link</td>
      </tr>
      {% endif %}
      {% endfor %}
    </tbody>
    <!-- Table Body -->
  </table>
</body>
