# SDX Controller

# Specifies the database
export DATABASE=sdxcontroller.db
# Specifies the manifest
export MANIFEST=manifests/example-cilgon.manifest
# Run with Shibboleth for authentication
export SHIBBOLETH=False
# Run with CILogon for authentication
export CILOGON=False
# Run without the topology
export NOTOPO=True
# Choose a host address
export HOST=0.0.0.0
# Port number of web interface
export PORT=5000
# Port number of SENSE interface
export SPORT=5001
# Port number for LCs to connect to
export LCPORT=5555
